--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
requests
imageio-ffmpeg

torch
torchvision
ultralytics
chromadb

opencv-python-headless
numpy<2

openai-whisper